{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}

<h1>База знаний</h1>

<p>Пользователь: <strong>{{ username }}</strong></p>

<style>
    .cards {
        display: flex;
        gap: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .card {
        flex: 1;
        min-width: 200px;
        background: #ffffff;
        border-radius: 12px;
        border: 1px solid #e5e5e5;
        box-shadow: 0 4px 10px rgba(0,0,0,0.12);
        transition: 0.2s ease;
        cursor: pointer;
        overflow: hidden;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.17);
    }

    .card a {
        display: flex;            
        justify-content: center;               
        width: 100%;
        height: 100%;
        padding: 20px;
        
        text-decoration: none;
        color: #333;
        font-size: 18px;
        font-weight: 600;
    }

    .card a:hover {
        color: #0077cc;
    }
</style>

<div class="cards">
    <div class="card"><a href="/lab5/login">Вход</a></div>
    <div class="card"><a href="/lab5/register">Регистрация</a></div>
    <div class="card"><a href="/lab5/list">Список статей</a></div>
    <div class="card"><a href="/lab5/create">Создать статью</a></div>
</div>


{% endblock %}