<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чинкевич Кирилл. {% block lab %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link href="{{ url_for('static', filename='favicon-32x32.png') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>
    
    <main>
        {% block main %}
        {% endblock %}
        <div>
            <a href="{{ url_for('index') }}">На главную</a>
        </div>
    </main>

    <footer>
        &copy; Кирилл Чинкевич, ФБИ-32, 3 курс, 2023
    </footer>
</body>
</html>